.F-size-12 {
    font-size: 12px;
}

.F-size-14 {
    font-size: 14px;
}

.F-size-16 {
    font-size: 16px;
}

.F-size-18 {
    font-size: 18px;
}

.F-size-20 {
    font-size: 20px;
}

.F-size-22 {
    font-size: 22px;
}

.F-size-24 {
    font-size: 24px;
}

.F-size-26 {
    font-size: 26px;
}

.F-size-28 {
    font-size: 28px;
}

.F-size-30 {
    font-size: 30px;
}

.F-size-32 {
    font-size: 32px;
}

.F-size-34 {
    font-size: 34px;
}

.F-size-36 {
    font-size: 36px;
}

.F-size-38 {
    font-size: 38px;
}

.F-size-40 {
    font-size: 40px;
}