.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
}

.glow-btn {
    position: relative;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.glow-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 40%, transparent 70%);
    transition: all 0.5s ease-out;
    transform: translate(-50%, -50%) scale(0);
}

.glow-btn:hover::before {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
}

.glow-btn-primary:active {
    transform: scale(0.95);
    background-color: #0056b3;
}

.glow-btn-primary{
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    background-color: #007bff;
    color: #fff;
}